-i https://pypi.org/simple
appdirs==1.4.3
django-cors-headers==2.4.0
django-filter==2.0.0
django==2.1.1
djangorestframework-gis==0.13
djangorestframework==3.8.2
markdown==2.6.11
psycopg2==2.7.5
pyparsing==2.2.1
pytz==2018.5
six==1.11.0
